*{
    margin: 0px;
    padding: 0px;
}
.title, .main, .score, .control{
    width: 80%;
    margin: 30px auto;
    border: 1px solid black;
    padding: 10px;
    background: silver;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.control button{
    background: white;
    cursor: pointer;
    border: none;
}
img{
    width: 100px;
    height: 120px;
}
img:hover{
    box-shadow: 0px 0px 30px 5px yellow;
    outline: none;
}

#result{
    color: red;
}

#userOption img{
    box-shadow: 0px 0px 30px 5px blue;
}

#machineOption img{
    box-shadow: 0px 0px 30px 5px purple;
}
